<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.airbnb.android"
    xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.INTERNET"/>
  <application>
    <activity
      android:name="com.airbnb.android.react.navigation.ReactNativeActivity"
      android:launchMode="singleTop"/>
    <activity
        android:name="com.airbnb.android.react.navigation.ReactModalActivity"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:launchMode="singleTop"/>
    <activity
      android:name="com.airbnb.android.react.navigation.ReactNativeTabActivity"
      android:launchMode="singleTop"/>
  </application>
</manifest>
